@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<div class="shell shell-wide">
    <div class="range range-xs-center offset-top-26">
        <div class="text-center">
                <p>
                    Welcome to Pound, where wagging tails and boundless love meet hopeful hearts. At Pound, our mission is simple:
                    to connect deserving dogs with loving homes, creating lasting bonds that go beyond words. As an imaginary dog
                    adoption site, we understand the importance of finding the perfect match for both four-legged friends and their
                    future families.
                </p>
                <p>
                    Pound is not just a platform; it's a community built on compassion, empathy, and the shared belief that every
                    dog deserves a second chance. Our team is comprised of passionate individuals dedicated to the well-being of
                    our furry companions, working tirelessly to ensure the adoption process is seamless, transparent, and, above all,
                    centered around the best interests of the dogs.
                </p>
                <p>
                    What sets Pound apart is our commitment to the holistic well-being of our dogs. We go beyond the conventional
                    adoption process by providing valuable resources, including educational materials, training tips, and ongoing
                    support for both new pet parents and their canine companions. Our goal is not just to find homes for dogs, but
                    to foster a lifetime of happiness and fulfillment for every family we bring together.
                </p>
                <p>
                    At Pound, we celebrate the uniqueness of each dog, recognizing that every pup has a story worth telling. From
                    playful puppies to wise seniors, we showcase a diverse range of dogs seeking their forever homes. Browse our
                    virtual kennels, read heartwarming stories, and embark on a journey to find your perfect match.
                </p>
                <p>
                    Join us in the heartwarming experience of dog adoption. Together, let's make Pound a place where tails wag,
                    hearts unite, and families grow. Welcome to Pound, where the journey of unconditional love begins.
                </p>
        </div>
    </div>
</div>

